autogreen/bin/www
autogreen/db/
autogreen/main-seoengine/
autogreen/uploads/
autogreen/node_modules/
autogreen/public/monitoring_img/
autogreen/public/notice/
autogreen/public/images/company/
otogreen/bin/www
otogreen/db/
otogreen/log/
otogreen/uploads/
otogreen/node_modules/
imgCapture/web.js
imgCapture/db/
imgCapture/node_modules/
imgCapture/log/
imgCapture/history_logs/