#div-mail{
  display: none;
}
.edit{
  text-decoration:underline;
}
.edit:hover{
  font-weight: bold;
}
/* loader */
.preloader3{
  display: none;
  padding-top:20%;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  width: 1280px;
  /* width: 500px; */
  /* margin: auto; */
  /* max-width: 100%; */
  z-index: 10000;
}
