/* card */
.div-chart{
  padding-bottom: 21px;
}
.card-type-w1{
  width: 1063px;
  height: auto;
  padding: 47px;
  padding-left: 50px;
  padding-right: 50px;
}
.card-type-w2{
  width: 527px;
  height: auto;
  padding: 0;
}
.charts_legend_group{
  float: right;
  padding-top: 5px;
  display: inline-block;
}
.chart_legend {
  float: right;
  margin-right: 14px;
}
.chart_legend:first-child{
  margin-right: 0px;
}
.chart_point {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px;
}
.charts_title{
  font-size: 13px;
}
.chart_name{
  font-size: 12px;
  vertical-align: bottom;
}
.charts__chart{
  margin: 0px;
}
.chart_point1{
  background-color: #9dc6e5;
}
.chart_point2{
  background-color: #cb9de5;
}
.chart_point3{
  background-color: #bebebe;
}
.chart_point4{
  background-color: #fbb7ce;
}
.charts{
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.chart--lg{
  height: 35px;
}
#totalTable{
  margin-bottom: 0px;
}
span.card-span{
  float: left;
  padding-left: 43px;
}
/* 제목 마우스 오버시 */
.info:hover{
  text-decoration: underline;
  cursor:default;
}
/* 모달 이미지 */
.articles h6{
  text-align: center;
  margin-top: 5px;
}
/* 검출일 */
.dateArr{
  font-size: 12px;
}
/* loader */
.preloader3{
  display: none;
  padding-top:20%;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  /* width: 1280px; */
  z-index: 10000;
}
/* table */
.table th, .table td:not(.info-td) {
  text-align: center;
  vertical-align: middle;
}
#info-Modal .table th{
  border-right: 1px solid #eceeef;
}
#info-Modal .card .card-block p {
  width: 537px;
  white-space: initial;
  line-height: 14px;
  margin-bottom: 0;
}
#info-Modal p.title {
  white-space: pre-line;
  width: 537px;
}
/* 줄임 */
.info,.reduction {
  width: 300px;
  margin: 0 auto;
  white-space: initial;
  word-break: break-all;
}
.reduction {
  width: 100px;
}
/* 이미지 */
#listTable td.info-td{
  text-align: left;
}
.lightbox-img {
  border: 1px solid #e8e8e8;
}
.info-td i.text-muted {
  display: inherit;
  float: left;
  height: 21px;
  padding-top: 5px;
  margin-right: 5px;
}
/* 통계 */
.card-table{
  padding-left: 0;
  padding-right: 0;
  border-radius: 2px;
  font-size: 12px;
}
.card-table .table-bordered td,.card-table .table-bordered th {
  border: 1px solid #ccc;
}
.card-table .table th, .card-table .table td {
  text-align: left;
  display: table-cell;
}
#totalTable{
  table-layout: fixed;
}
/* 모달 */
#title a:hover{
  text-decoration: underline;
}
