.main-body .page-wrapper .page-header{
  margin-bottom: 10px;
}
.page-header-title{
  height: 32px;
}
/* 테이블 */
#list i{
  font-size: 16px;
}
#list a{
  font-size: 12px
  font-weight: 400;
}
#list a:hover{
  text-decoration: underline;
}
#list .ico{
  height: 13px;
  vertical-align: middle;
  padding-right: 5px;
}
#list .btn-site{
  font-size: 12px;
  height: 20px;
  vertical-align: middle;
  line-height: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
i.fa-check-circle{
  color:#82c91e;
}
i.fa-exclamation-circle{
  color:#FFC107;
}
.table td,.table th{
  font-size: 12px;
  text-align: center;
}
/* loader */
.preloader1{
  display: none;
  padding-top:20%;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  /* width: 1280px; */
  z-index: 10000;
}
/* a태그 */
.mtag{
  color: #807373;
}
.mtag:hover{
  text-decoration: underline;
  font-weight: bold;
}
/* 그래프 */
.highcharts-container{
  padding-top: 15px;
  padding-bottom: 15px;
  background: white;
}
