<div class="main-body">
  <div class="page-wrapper">
    <div class="page-body">
      <div class="row">
        <h4><%= message %></h4>
        <h5><%= error.status %></h5>
        <pre><%= error.stack %></pre>
      </div>
    </div>
  </div>
</div>
