/* 신규등록-  시리즈 */
#series-info,#cntSeriesDetailPage{
  display: none;
}
/* card */
#card-table .row{
  padding: 0px 15px;
}
#card-table .col-xs-3{
  padding: 0;
  padding-right: 0px;
}
#card-table .col-xs-3 .state-body{
  padding: 34px 48px;
  font-family: 'NanumGothic';
}
#card-table .col-xs-3 .state-body span.i-tag{
  float: left;
  font-size: 46px;
  line-height: 62px;
  float: left;
  color: #a9a9a9;
}
#card-table .col-xs-3 .state-body div.p-group{
  width: 222px;
  float: left;
  padding-left: 3px;
}
#card-table .col-xs-3 .state-body div.p-group p{
  border-bottom: 1px solid #ededed;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 8px;
}
.text-green{
  color: #23a353;
}
.text-orange{
  color: #d75d28;
}
.text-red{
  color: #e91e63;
}
.text-gray{
  color: #7e7e7e;
}
#card-table .col-xs-3 .state-body div.p-group p:last-child{
  border-bottom: 0px;
  padding-top: 8px;
}
.card-type-1{
  padding: 0;
  height: 210px;
  font-family: 'NanumGothic';
  border-right: 1px solid #ededed;
}
.card-type-1 .title {
  text-align: center;
}
.card-type-1 .total-body {
  padding: 47px;
  font-weight: bold;
  font-size: 30px;
}
/* 모달 */
.radio-inline{
  margin-right: 0px;
}
.form-radio label{
  line-height: 26px;
}
/* 상태 */
#key-toolbar{
  width: 15px;
  height: 14px;
  padding: 8px;
  display: inline-block;
  vertical-align: top;
}
#key-toolbar > i{
  margin: 0px;
  font-size: 15px;
  vertical-align: top;
}
/* table */
.table th,.table td{
  text-align: center;
  vertical-align: middle;
}
/* loader */
.preloader3{
  display: none;
  padding-top:20%;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  /* width: 500px; */
  /* margin: auto; */
  /* max-width: 100%; */
  z-index: 10000;
}
/* 글줄임 */
.title_nobr{
  font-size: 15px;
  padding-left: 3px;
  margin: 0 auto;
  width: 246px;
  white-space: initial;
}
.cnt{
  text-decoration: underline;
}
.cnt:hover{
  font-weight: bold;
}

/* alert */
.swal-text{
  text-align: center;
}

/* 리스트 td css */
.cntid{
  width: 134px;
  margin: 0 auto;
  white-space: initial;
}
.input-search{
  padding-left: 0px;
  padding-right: 0px;
}
