<!DOCTYPE html>
<html>
  <head>
    <title>autogreen</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords" content="flat ui, admin , Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- themify-icons line icon -->
    <link href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css"> -->
    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="/pages/menu-search/css/component.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style_custom.css">
    <!--color css-->
    <!-- <link rel="stylesheet" type="text/css" href="/css/color/color-1.css" id="color" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/linearicons.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/linearicons@1.0.1/dist/web-font/style.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/ionicons.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css"> -->
    <%- style %>
  </head>
  <body>
    <!-- <body style="<%=((userSite != 'autogreen')?'':'max-width: 1297px;min-width: 1297px;')%>"> -->
      <!-- 로딩화면 -->
      <div class="theme-loader">
        <div class="ball-scale">
          <div></div>
        </div>
      </div>
      <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
          <% include header.ejs %>
          <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
              <!-- left menu start -->
              <% include side.ejs %>
              <!-- left menu end -->
              <div class="pcoded-content">
                <div class="pcoded-inner-content">
                  <%- body %>
                  <!-- Modal start-->
                  <div class='modal fade' id='cSearch-Modal' aria-hidden="true" tabindex="-1" role="dialog">
                    <div class='modal-dialog modal-xlg' role='document'>
                      <div class='modal-content'>
                        <div class='modal-header'>
                          <div class="col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true"><i class="ti-close"></i></span>
                                </button>
                              </div>
                              <div id="searchdiv">
                                <select id="selectSearchType-cm" name="select" class="col-xs-3 form-control search-select">
                                  <option value="w">웹하드전체</option>
                                </select>
                                <div id="searchInput-group">
                                  <input type="text" class="form-control p-t-10 f-left search-text" id="searchInput-cm">
                                  <button type="button" id="searchBtn-cm" class="btn btn-default btn-square btn-search p-r-5 p-l-5 f-left"><i class="fas fa-search"></i>검색하기</button>
                                </div>
                              </div>
                              <span id="searchSpan">실시간으로 모든 웹하드 저작권을 검색하실 수 있습니다.</span>
                            </div>
                          </div>
                        </div>
                        <div class='modal-body'>
                          <div class="row">
                            <div class="col-xs-12"  id='list-card'>
                              <div class="page-header-title m-b-10">
                                <div class="title-div">
                                  <h5 class="f-left p-b-0 p-t-10">● 최근 7일간  OSP <span class="cm-num"><span id="cm-osp-num">0</span>곳</span>에서 <span class="cm-num"><span id="cm-num">0</span>건</span>을 검출하였습니다.</h5>
                                </div>
                                <button type="button" class="btn btn-default btn-excel-cm form-control f-right">
                                  <i class="far fa-file-excel"></i>엑셀
                                </button>
                              </div>
                              <div class='card'>
                                <div class="card-block table-border-style table-responsive">
                                  <div class="preloader3 preloader3-cm loader-block">
                                    <div class="circ1 loader-primary"></div>
                                    <div class="circ2 loader-primary"></div>
                                    <div class="circ3 loader-primary"></div>
                                    <div class="circ4 loader-primary"></div>
                                  </div>
                                  <table class="table" id="listTable-cm">
                                    <thead>
                                      <tr>
                                        <th width="1%">NO</th>
                                        <th width="5%">OSP</th>
                                        <th width="15%">제목</th>
                                        <th width="5%">등록일</th>
                                      </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot></tfoot>
                                  </table>
                                </div>
                              </div>
                            </div>
                            <div id='default-card'>
                              <img class="img-fluid" src="/images/autoGreen_BI_typeB.png"/>
                              <p>검색창에 콘텐츠 제목을 입력하세요.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal end-->
                  <!-- Modal start-->
                  <div class='modal fade' id='calculate-Modal' aria-hidden="true" tabindex="-1" role="dialog">
                    <div class='modal-dialog modal-xxlg' role='document' id="f-page">
                      <div class='modal-content'>
                        <div class='modal-header'>
                          <div class="col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true"><i class="ti-close"></i></span>
                                </button>
                              </div>
                              <div id="searchdiv">
                                <select id="selectSearchType-cm" name="select" class="col-xs-3 form-control search-select">
                                  <option value="">OSP선택</option>
                                </select>
                                <div id="searchInput-group">
                                  <input type="text" class="form-control p-t-10 f-left search-text" id="searchIDInput-cm" placeholder="구매자ID">
                                  <input type="text" class="form-control p-t-10 f-left search-text" id="searchInput-cm" placeholder="게시물번호">
                                  <button type="button" id="insertBtn-f" class="btn btn-default btn-square btn-search f-left">구매등록</button>
                                </div>
                              </div>
                              <span id="searchSpan">실시간 정산 확인 (OSP별 반응시간을 위해 5~10분의 검증시간 소요)</span>
                            </div>
                          </div>
                        </div>
                        <div class='modal-body'>
                          <div class="row">
                            <div class="col-xs-12" id='list-card'>
                              <div class="page-header-title m-b-10">
                                <button type="button" class="btn btn-default btn-setting-cm f-left">
                                  설정
                                </button>
                                <button type="button" class="btn btn-excel-cm btn-excel-cm1 f-right m-l-5">
                                  <i class="far fa-file-excel"></i>엑셀
                                </button>
                                <!-- <button class="btn btn-view-cm btn-square f-right m-l-5 p-r-5 p-l-5">
                                  통계보기
                                </button> -->
                                <div id="reportrange-cm" class="form-control form-control-default m-l-5 p-b-10 p-r-5 f-right">
                                  <i class="glyphicon glyphicon-calendar far fa-calendar-alt"></i>
                                  <span></span>
                                  <i class="f-right fa fa-angle-down" style="font-size: 17px;"></i>
                                </div>
                              </div>
                              <div class='card' id="calListTable">
                                <div class="card-block table-border-style table-responsive">
                                  <div class="preloader3 preloader3-cm loader-block">
                                    <div class="circ1 loader-primary"></div>
                                    <div class="circ2 loader-primary"></div>
                                    <div class="circ3 loader-primary"></div>
                                    <div class="circ4 loader-primary"></div>
                                  </div>
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th width="1%">NO</th>
                                        <th width="5%">OSP</th>
                                        <th width="15%">제목</th>
                                        <th width="5%">가격</th>
                                        <th width="5%">구매/빌링</th>
                                        <th width="5%">결과</th>
                                      </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot></tfoot>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class='modal-dialog modal-xxlg' role='document' id="d-page" style="display:none">
                      <div class='modal-content'>
                        <div class='modal-header'>
                          <h5 class="modal-title"></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="ti-close"></i></span>
                          </button>
                        </div>
                        <div class='modal-body'>
                          <div class="row">
                            <div class="col-xs-12"  id='list-card'>
                              <div class="page-header-title m-b-10">
                                <div class="row">
                                  <div class="col-xs-8 f-right">
                                    <div class="title-div">
                                      <h5 class="f-left p-b-0 p-t-10" id="cm-date"></h5>
                                    </div>
                                    <button type="button" class="btn btn-default btn-excel-cm btn-excel-cm2 m-l-10 form-control f-left">
                                      <i class="far fa-file-excel"></i>엑셀
                                    </button>
                                  </div>
                                  <div class="p-l-9 col-xs-4 f-right" id="cm-table-chart">
                                    <div class="card">
                                      <div class="card-type-1">
                                        <table class="table table-lg">
                                          <thead>
                                            <tr>
                                              <th width="5%">구매</th>
                                              <th width="5%">빌링</th>
                                              <th width="5%">결과</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class='card' id="calDetailTable">
                                <div class="card-block table-border-style table-responsive">
                                  <div class="preloader3 preloader3-cm loader-block">
                                    <div class="circ1 loader-primary"></div>
                                    <div class="circ2 loader-primary"></div>
                                    <div class="circ3 loader-primary"></div>
                                    <div class="circ4 loader-primary"></div>
                                  </div>
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th width="1%">NO</th>
                                        <th width="5%">OSP</th>
                                        <th width="5%">콘텐츠번호</th>
                                        <th width="15%">제목</th>
                                        <th width="5%">가격</th>
                                        <th width="5%">구매</th>
                                        <th width="5%">빌링정보</th>
                                        <th width="5%">상태</th>
                                      </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot></tfoot>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-warning btn-after">뒤로가기</button>
                        </div>
                      </div>
                    </div>
                    <div class='modal-dialog modal-xxlg' role='document' id="a-page" style="display:none">
                      <div class='modal-content'>
                        <div class='modal-header'>
                          <h5 class="modal-title">설정</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="ti-close"></i></span>
                          </button>
                        </div>
                        <div class='modal-body'>
                          <div class="row">
                            <div class="col-xs-12">
                              <div class='card' id="add-card">
                                <div class="card-block table-border-style">
                                  <div class="table-border-style">
                                    <div class="table-responsive">
                                      <table class="table table-sm">
                                        <tbody>
                                          <tr>
                                            <th class="b-r-1 text-left" width="30%">콘텐츠 설정</th>
                                            <td>
                                              <input type="text" class="col-xs-5 form-control f-left m-r-10" id="searchCntInput-cm"/>
                                              <input type="hidden" id="searchCntInput-cm-id"/>
                                              <button type="button" class="btn btn-default f-left" id="searchCnt-cm">검색하기</button>
                                            </td>
                                          </tr>
                                          <tr>
                                            <th class="b-r-1 text-left" width="30%">웹하드</th>
                                            <td>
                                              <div class="col-xs-5" style="padding: 0;">
                                                <select name="select" class="form-control" id="selectOSP-cm">
                                                  <option value="">선택</option>
                                                </select>
                                              </div>
                                            </td>
                                          </tr>
                                          <tr>
                                            <th class="b-r-1 text-left">설정</th>
                                            <td>
                                              <div class="form-radio text-left">
                                                <div class="radio radio-inline">
                                                  <label>
                                                    <input type="radio" value="1" name="ACC_State" class="ACC_State">
                                                    <i class="helper"></i>등록
                                                  </label>
                                                </div>
                                                <div class="radio radio-inline">
                                                  <label>
                                                    <input type="radio" value="0" name="ACC_State" class="ACC_State">
                                                    <i class="helper"></i>중지
                                                  </label>
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                          <tr>
                                            <th class="b-r-1 text-left">구매자설정</th>
                                            <td>
                                              <span class="add-span">아이디 : </span>
                                              <input type="text" class="col-xs-3 form-control f-left" id="ACC_User_ID"/>
                                              <span class="add-span m-l-10">비밀번호 : </span>
                                              <input type="text" class="col-xs-3 form-control f-left" id="ACC_User_PW"/>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td colspan="2">
                                              <button type="button" id="insertBtn-accOSP" class="f-right btn btn-inverse m-b-0">등록</button>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12">
                              <div class='card'>
                                <div class="card-block table-border-style table-responsive">
                                  <div class="preloader3 preloader3-cm loader-block">
                                    <div class="circ1 loader-primary"></div>
                                    <div class="circ2 loader-primary"></div>
                                    <div class="circ3 loader-primary"></div>
                                    <div class="circ4 loader-primary"></div>
                                  </div>
                                  <table class="table" id="ospListTable">
                                    <thead>
                                      <tr>
                                        <th width="1%">NO</th>
                                        <th width="5%">OSP</th>
                                        <th width="5%">콘텐츠</th>
                                        <th width="5%">일일구매횟수</th>
                                        <th width="5%">설정</th>
                                        <th width="5%">삭제</th>
                                      </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot></tfoot>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-warning btn-after">뒤로가기</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal end-->
                  <!-- Modal start -->
                  <div class="modal fade" id="contentsSearch" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">콘텐츠검색</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="ti-close"></i></span>
                          </button>
                        </div>
                        <div class="modal-body p-t-0">
                          <div class="col-xs-12" id="contents-list">
                            <div class="table-border-style table-responsive">
                              <div class="preloader3 preloader3-cm loader-block">
                                <div class="circ1 loader-primary"></div>
                                <div class="circ2 loader-primary"></div>
                                <div class="circ3 loader-primary"></div>
                                <div class="circ4 loader-primary"></div>
                              </div>
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th width="80%">
                                      <input type="text" class="form-control" id="search-input-cm">
                                    </th>
                                    <th width="20%">
                                      <button type="button" class="btn btn-default f-right" id="search-btn-cm">검색</button>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot></tfoot>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal end -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  <!-- Required Jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <!-- alert -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
  <!-- jquery slimscroll js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.js"></script>
  <!-- datePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/moment.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.js"></script>
  <!-- Custom js -->
  <script src="/js/ie.js"></script>
  <script src="/js/error.js"></script>
  <script type="text/javascript" src="/js/script-min.js"></script>
  <script src="/js/pcoded.min.js"></script>
  <script src="/js/demo-12.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
  <script src="/js/script-common.js"></script>
  <%- script %>
</html>
