<!-- left menu start -->
<nav class="pcoded-navbar" pcoded-header-position="relative">
  <div class="pcoded-inner-navbar main-menu">
    <ul class="pcoded-item pcoded-left-item">
      <li class="dashBoard">
        <a href="/">
          <span class="pcoded-micon"><i class="ti-home"></i></span>
          <span class="pcoded-mtext" data-i18n="nav.dash.main">대시보드</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="cnts">
        <a href="/cnts">
          <span class="pcoded-micon"><i class="ti-video-clapper"></i></span>
          <span class="pcoded-mtext" data-i18n="nav.dash.main">콘텐츠관리</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li class="statistics">
        <a href="/statistics">
          <span class="pcoded-micon"><i class="fas fa-desktop"></i></span>
          <span class="pcoded-mtext">모니터링현황</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <% if(userID == 'under'){%>
      <li class="pcoded-hasmenu sales">
        <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
          <span class="pcoded-micon"><i class="fas fa-won-sign"></i></span>
          <span class="pcoded-mtext">매출통계</span>
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li>
            <a href="/sales/add" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">매출등록</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li>
            <a href="/sales" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">매출통계현황</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
        </ul>
      </li>
      <%}%>
      <li class="pcoded-hasmenu setting">
        <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
          <span class="pcoded-micon"><i class="fas fa-user"></i></span>
          <span class="pcoded-mtext">관리사설정</span>
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li>
            <a href="/setting/osp" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">OSP사현황</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li>
            <a href="/setting/cp" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">CP사현황</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <%if(userCLASS != 'c'){%>
          <li>
            <a href="/setting/mailing" data-i18n="nav.advance-components.grid-stack">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">메일링설정</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <%}%>
        </ul>
      </li>
      <li class="notice">
        <a href="/notice">
          <span class="pcoded-micon"><i class="ti-volume"></i></span>
          <span class="pcoded-mtext">공지사항</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li>
        <div style="border-top: 1px solid #1f3339;width: 209px;margin: auto;margin-top: 7px;margin-bottom: 7px;"></div>
        <button class="btn btn-s-search btn-c-search"><i class="far fa-copyright"></i><span>저작권검색</span></button>
        <button class="btn btn-s-search btn-c2-search" style="margin-top: 0px;"><i class="fas fa-won-sign"></i><span>정산검증</span></button>
        <% if(userID == 'union'){%>
          <a href="/monitoring_w" style="padding: 0;margin: 0;height: 55px;">
            <button class="btn btn-s-search btn-c3-search" style="margin-top: 0px;"><i class="fas fa-edit"></i><span>모니터링업무</span></button>
          </a>
        <%}%>
      </li>
    </ul>

    <% if(userID == 'under'){%>
      <div id="under_sub_logo">
        <a href="http://unionc.synology.me:58395/?launchApp=SYNO.SDS.Drive.Application" target="_blank">
          <img src="/images/company/under_storage_btn.jpg" alt="영상관리 바로가기">
        </a>
      </div>
    <%}%>
  </div>
</nav>
<div class="unicc">UnionContents  Co., Ltd</div>
