<!DOCTYPE html>
<html>
  <head>
    <title>autogreen</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords" content="flat ui, admin , Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">
    <!-- Favicon icon -->
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/font-awesome/css/font-awesome.css">
    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="/assets/pages/menu-search/css/component.css">
    <!-- Horizontal-Timeline css -->
    <link rel="stylesheet" type="text/css" href="/assets/pages/dashboard/horizontal-timeline/css/style.css">
    <!-- Date-range picker css  -->
    <link rel="stylesheet" type="text/css" href="/css/daterangepicker.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/pages/division/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/picker.css">
    <!--color css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/color/color-1.css" id="color" />
    <link rel="stylesheet" type="text/css" href="/assets/css/linearicons.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">
  </head>

  <body>
    <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
        <% include header.ejs %>
        <div class="pcoded-main-container">
          <div class="pcoded-wrapper">
            <!-- left menu start -->
            <% include side.ejs %>
            <!-- left menu end -->
            <div class="pcoded-content">
              <div class="pcoded-inner-content">
                <%- body %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- Required Jquery -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/tether.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- jquery slimscroll js -->
  <script type="text/javascript" src="/js/jquery.slimscroll.js"></script>
  <!-- Bootstrap date-time-picker js -->
  <script type="text/javascript" src="/assets/pages/advance-elements/moment-with-locales.min.js"></script>
  <!-- Date-range picker js -->
  <script type="text/javascript" src="/js/daterangepicker.js"></script>
  <!-- Custom js -->
  <script type="text/javascript" src="/assets/js/script.js"></script>
  <script type="text/javascript" src="/assets/pages/picker.js"></script>
  <script src="/assets/js/pcoded.min.js"></script>
  <script src="/assets/js/demo-12.js"></script>
  <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/assets/js/jquery.mousewheel.min.js"></script>
  <%- script %>
</html>
