<!DOCTYPE html>
<html>
  <head>
    <title>autogreen</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords" content="flat ui, admin , Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">
    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- themify-icons line icon -->
    <link href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css"> -->
    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="/pages/menu-search/css/component.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <!-- Style.css -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <!--color css-->
    <!-- <link rel="stylesheet" type="text/css" href="/css/color/color-1.css" id="color" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/linearicons.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/linearicons@1.0.1/dist/web-font/style.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/ionicons.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css"> -->
    <%- style %>
  </head>
    <body style="<%=((userSite != 'autogreen')?'':'max-width: 1280px;min-width: 1280px;')%>">
      <!-- 로딩화면 -->
      <div class="theme-loader">
        <div class="ball-scale">
          <div></div>
        </div>
      </div>
      <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
          <% include header.ejs %>
          <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
              <!-- left menu start -->
              <% include side.ejs %>
              <!-- left menu end -->
              <div class="pcoded-content">
                <div class="pcoded-inner-content">
                  <%- body %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  <!-- Required Jquery -->
  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script
  src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <!-- jquery slimscroll js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.js"></script>

  <!-- Custom js -->
  <script src="/js/ie.js"></script>
  <script type="text/javascript" src="/js/script-min.js"></script>
  <script src="/js/pcoded.min.js"></script>
  <script src="/js/demo-12.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
  <script>
    var className = $(location).attr('pathname').replace("/","").split("/")[0];
    if(className == ""){
      className = "dashBoard";
    }
    else if(className == "keyword"){
      className = "contents";
    }
    $("ul.pcoded-item li."+className).addClass('active pcoded-trigger');
  </script>
  <%- script %>
</html>
