/* default setting */
body {
  overflow-x: auto;
}
#pcoded {
  min-width: 1903px;
  max-width: none !important;
}
nav.navbar.header-navbar.pcoded-header.iscollapsed {
  background: #fafafafc;
  border-bottom: 1px solid #ddd;
}
.header-navbar .navbar-wrapper .navbar-container .nav-left a, .header-navbar .navbar-wrapper .navbar-container .nav-right a{
  color: #333;
}
.main-body .page-wrapper .page-header-title h4{
  color: #313131;
}
.breadcrumb-title a{
  color: #313131;
}
/* card type */
.card-type-1{
  color: #807373;
}
.card-na .title,.card-na .p-body{
  color: #FF9800;
}
.card-na .p-title{
  color: #2196F3
}
.card-type-1 p{
  margin: 0px
}
.card-type-1 .title{
  text-align: center;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  font-size: 13px;
  border-bottom: 1px solid #cccccc;
}
.card-type-1 .body{
  text-align: center;
}
.card-type-1 .body .b-item{
  padding: 15px;
  padding-top: 22px;
}
.card-type-1 .body .b-item{
  border-right: 1px solid #cccccc;
}
.card-type-1 .body .b-item:last-child{
  border-right: 0px;
}
.card-type-1 .body .p-title{
  font-size: 12px;
  margin-bottom: 5px;
}
.card-type-1 .body .p-body,
.card-type-1 .body .p-body a{
  font-size: 21px;
}
/* select */
.select-mini{
  min-width: 125px;
  min-height: 32px;
}
/* title tag */
.title-div li {
  font-size: 14px;
  color: #807373;
}

.title-div li:before {
  content:"·";
  font-size:30px;
  padding-right: 5px;
  vertical-align:middle;
  line-height:20px;
}

/* grid */
.col-xs-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.333333%;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-xs-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.666667%;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-xs-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-xs-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-xs-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xs-12{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-xs-6,.col-xs-1,.col-xs-2,.col-xs-4,.col-xs-5,.col-xs-12{
  padding-right: 15px;
  padding-left: 15px;
}
