/* select */
#listTable_a select.table-select{
  min-width: 59px;
  max-height: 27px;
  margin: 0 auto;
  padding: 2px 0px 2px 0px;
}
/* modal */
#modal-cnt p {
  margin: 0;
  font-size: 12px;
  /* width: 355px; */
  white-space: normal;
  word-break: break-all;
}
.lightbox-img {
  border: 1px solid #e8e8e8;
}
.info-td i.text-muted {
  display: inherit;
  float: left;
  height: 21px;
  padding-top: 5px;
  margin-right: 5px;
}
#modal-cnt p.title{
  text-decoration: underline;
}
#modal-cnt p.title:hover{
  font-weight: bold;
}
.col-right{
  border-top: 1px solid black;
  padding-left: 0;
  padding-right: 0;
}
.col-right>.col-xs-12{
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
#img-list h6{
  font-size: 14px;
  text-align: center;
}
#img-list {
    margin: 0px auto;
}
#img-list .col-img-item{
  width: 273px;
}
#img-list .col-img-item:first-child{
  margin-right: 2px;
}
#img-list .col-img-item:nth-child(2){
  margin-right: 2px;
}
/* button */
#monitoring_list .btn-excel{
  border-color: #16763a;
  color: #16763a;
}
#monitoring_list .btn-image{
  color: #bdc3c7;
}
#monitoring_list .btn{
  background: white;
  padding: 8px 13px;
  border-radius: 0px;
  background-color: white;
}
/* 제목 마우스 오버시 */
.info:hover{
  text-decoration: underline;
  cursor:default;
}
/* 검출일 */
.dateArr{
  font-size: 12px;
  text-align: left;
  width: 144px;
  margin: 0px auto;
}
/* 검출상태 */
.chkArr{
  width: 72px;
  margin: 0px auto;
}
/* 메일발송상태 */
.mailArr{
  width: 79px;
  margin: 0px auto;
}
/* loader */
.preloader3{
  display: none;
  padding-top:20%;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  /* width: 1280px; */
  z-index: 10000;
}
/* table */
.table th, .table td:not(.info-td) {
  text-align: center;
  vertical-align: middle;
}
/* 줄임 */
.info-open,.reduction {
  width: 400px;
  margin: 0 auto;
  white-space: initial;
  word-break: break-all;
}
/* 제목 마우스 오버시 */
.info-open:hover,#modal-cnt #title:hover{
  text-decoration: underline;
  cursor:default;
}
.info-td i.text-muted {
  display: inherit;
  float: left;
  height: 21px;
  padding-top: 5px;
  margin-right: 5px;
}
.reduction {
  width: 208px;
}
