<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>콘텐츠리스트</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">콘텐츠관리</a></li>
          <li class="breadcrumb-item"><a href="#!">콘텐츠리스트</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 p-r-5 f-left" id="selectCp">
            <option value='0'>CP사선택</option>
          </select>
          <button class="btn btn-warning alert-excel f-left p-r-5 p-l-5 m-l-15 m-b-10">
            <i class="fas fa-download"></i>EXCEL
          </button>
          <div class="col-sm-3 input-group input-group-button input-group-inverse p-l-0 p-r-0 m-b-10 f-right btn-select">
            <input id="keywordInput" type="text" class="form-control">
            <span class="input-group-addon" id="searchBtn">
              <button class=" btn btn-inverse">검색</button>
            </span>
          </div>
          <select id="selectSearchType" name="select" class="col-sm-1 form-control form-control-inverse m-r-10 m-b-10 f-right search-select">
            <option value="t">제목</option>
            <option value="c">cp관리ID</option>
          </select>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block table-border-style  table-responsive">
              <div id="toolbar-options1" class="hidden">
                <a href="#" class="option1" data-value="1"><i class="far fa-check-circle"></i></a>
                <a href="#" class="option0" data-value="0"><i class="fas fa-ban"></i></a>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th width="1%">NO</th>
                    <th width="5%">CP사</th>
                    <th width="5%">CP관리ID</th>
                    <th width="15%">제목</th>
                    <th width="5%">
                      상태
                      <div id="key-toolbar" class="btn-toolbar btn-primary btn-toolbar-primary"><i class="fa fa-cog"></i></div>
                    </th>
                    <th width="5%">관리현황</th>
                    <th width="5%">관리방법</th>
                    <th width="1%">수정</th>
                    <th width="1%">삭제</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
