<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>CP사등록</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">관리설정</a></li>
          <li class="breadcrumb-item"><a href="#!">CP사등록</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* ID</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_id" type="text">
                  <input type="hidden" id="idCheck"/>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check">
                  <button id="idCheck" type="button" class="btn btn-default alert-prompt">
                    중복체크
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* PW</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_pw" type="password">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 법인명</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_cname" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 사업자번호</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_cnum" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">대표자명</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_ceoname" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">담당자명</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_pname" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">주소</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_addrs" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">연락처(숫자만)</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_tel" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">이메일</label>
                <div class="col-sm-7">
                  <div id="cp_email">
                    <input class="form-control col-sm-5 f-left" id="cp_email_id" type="text">
                    <span class="f-left m-l-5 m-r-5">@</span>
                    <input class="form-control col-sm-5 f-left" id="cp_email_site" type="text">
                  </div>
                  <span class='messages f-left'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">대표핸드폰(숫자만)</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_hp" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 회사분류</label>
                <div class="col-sm-7 form-radio">
                  <div class="radio radiofill radio-default radio-inline m-t-5">
                    <label class="m-b-0">
                      <input type="radio" value="m" name="cp_class" checked>
                      <i class="helper"></i>MCP
                    </label>
                  </div>
                  <div class="radio radiofill radio-default radio-inline">
                    <label class="m-b-0">
                      <input type="radio" value="c" name="cp_class">
                      <i class="helper"></i>CP
                    </label>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row" id="mcpSelect" style="display:none;">
                <label class="col-sm-3 col-form-label">* MCP선택</label>
                <div class="col-sm-7 form-radio">
                  <select class="form-control" id="cp_mcp"></select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">회사로고</label>
                <div class="col-sm-7">
                  <form action="/setting/file_upload" method="post" enctype="multipart/form-data" id="fileForm">
                    <input class="f-left form-control col-sm-5 p-l-6 p-t-5 p-b-6 input-sm" name="fileInput" id="cp_logo_file" type="file" accept=".png, .jpg, .jpeg">
                  </from>
                  <div class="col-sm-4 f-left btn-upload">
                    <button id="imgUpload" type="button" class="btn btn-default">
                      업로드
                    </button>
                    <input class="form-control input-sm" id="cp_logo" type="hidden">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 상태</label>
                <div class="col-sm-7 form-radio">
                  <div class="radio radiofill radio-default radio-inline m-t-5">
                    <label class="m-b-0">
                      <input type="radio" value="1" name="cp_state" checked>
                      <i class="helper"></i>정상
                    </label>
                  </div>
                  <div class="radio radiofill radio-default radio-inline">
                    <label class="m-b-0">
                      <input type="radio" value="0" name="cp_state">
                      <i class="helper"></i>중지
                    </label>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row" id="div-mail">
                <label class="col-sm-3 col-form-label">* 메일발송</label>
                <div class="col-sm-7 form-radio">
                  <div class="radio radiofill radio-default radio-inline m-t-5">
                    <label class="m-b-0">
                      <input type="radio" value="1" name="cp_mail">
                      <i class="helper"></i>발송
                    </label>
                  </div>
                  <div class="radio radiofill radio-default radio-inline">
                    <label class="m-b-0">
                      <input type="radio" value="0" name="cp_mail" checked>
                      <i class="helper"></i>미발송
                    </label>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3"></label>
                <div class="col-sm-7">
                  <div class="btn btn-inverse m-b-0" id="btn-add">등록</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap daterangepicker js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.js"></script>
<!-- alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<!-- custom -->
<link rel="stylesheet" href="/pages/cp/style.css">
<script type="text/javascript" src="/pages/cp/add.js"></script>
