<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>CP사등록</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">관리설정</a></li>
          <li class="breadcrumb-item"><a href="#!">CP사등록</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* ID</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_id" type="text">
                  <input type="hidden" id="idCheck"/>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check">
                  <button id="idCheck" type="button" class="btn btn-default alert-prompt">
                    중복체크
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* PW</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_pw" type="password">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 법인명</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_cname" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 사업자번호</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_cnum" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">대표자명</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_ceoname" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">담당자명</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_pname" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">주소</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_addrs" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">연락처(숫자만)</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_tel" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">이메일</label>
                <div class="col-sm-7">
                  <div id="cp_email">
                    <input class="form-control col-sm-5 f-left" id="cp_email_id" type="text">
                    <span class="f-left m-l-5 m-r-5">@</span>
                    <input class="form-control col-sm-5 f-left" id="cp_email_site" type="text">
                  </div>
                  <span class='messages f-left'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 대표핸드폰(숫자만)</label>
                <div class="col-sm-7">
                  <input class="form-control" id="cp_hp" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 회사분류</label>
                <div class="col-sm-7 form-radio">
                  <div class="radio radiofill radio-default radio-inline m-t-5">
                    <label class="m-b-0">
                      <input type="radio" value="m" name="cp_class" checked>
                      <i class="helper"></i>MCP
                    </label>
                  </div>
                  <div class="radio radiofill radio-default radio-inline">
                    <label class="m-b-0">
                      <input type="radio" value="c" name="cp_class">
                      <i class="helper"></i>CP
                    </label>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <tr id="mcpSelect" style="display:none;">
                <th class="b-r-1 text-left">* MCP선택</th>
                <td>
                  <select class="form-control" id="cp_mcp">
                    <option value=""></option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="b-r-1 text-left">회사로고</th>
                <td>
                  <input class="form-control input-sm" id="cp_logo_file" type="file">
                  <div class="col-sm-1 btn-check">
                    <button id="imgUpload" type="button" class="btn btn-default alert-prompt">
                      업로드
                    </button>
                    <input class="form-control input-sm" id="cp_logo" type="hidden">
                  </div>
                </td>
              </tr>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 상태</label>
                <div class="col-sm-7 form-radio">
                  <div class="radio radiofill radio-default radio-inline m-t-5">
                    <label class="m-b-0">
                      <input type="radio" value="1" name="cp_state" checked>
                      <i class="helper"></i>정상
                    </label>
                  </div>
                  <div class="radio radiofill radio-default radio-inline">
                    <label class="m-b-0">
                      <input type="radio" value="0" name="cp_state">
                      <i class="helper"></i>중지
                    </label>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3"></label>
                <div class="col-sm-7">
                  <button class="btn btn-inverse btn-add m-b-0">등록</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  /* loader */
  .preloader3{
    display: none;
    padding-top:20%;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    width: 1280px;
    z-index: 10000;
  }
</style>
<!-- Bootstrap daterangepicker js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.js"></script>
<!-- alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<script>
  // 중복 체크
  $(".alert-prompt").on("click",function(){
    swal({
      title: "✓ 아이디 중복 체크",
      content: "input",
      buttons: ["취소", "확인"],
      closeOnClickOutside: false,
      closeOnEsc: false
    })
    .then((value) => {
      console.log(value);
      if (value === "") {
        alert("ERROR!", "아이디를 다시 입력해주세요.");
        return false;
      }
      if (value != null) {
        $.ajax({
          type: "POST",
          url: "/setting/cp/idCheck",
          dataType: "text",
          data: {id : value},
          error: function(req,status,error){
            errorMsg();
          },
          success: function(data){
            console.log(data);
            if(data == 'fail'){
              swal("ERROR!", "아이디가 중복됩니다. 다시 입력해 주세요.", "error");
            }else if(data == 'success'){
              swal("중복확인!", value+"는 사용가능한 아이디입니다.", "success");

              $('#cp_id').val(value);
              $("#idCheck").val("true");
              $('#cp_id').removeClass("form-control-danger");
              $('#cp_id').siblings().children("p").text("");
            }
          }
        });
      }
    });
  });

  // 등록버튼 클릭시 -->여기부터해
  $(".btn-add").on("click",function(){
    var check=false;
    var param = {
      cp_id:$('#cp_id').val(),
      cp_pw:$('#cp_pw').val(),
      cp_cname:$('#cp_cname').val(),
      cp_cnum:$('#cp_cnum').val(),
      cp_tstate:$("input:radio[name='cp_tstate']:checked").val(),
      cp_ceoname:$('#cp_ceoname').val(),
      cp_url:$('#cp_url').val(),
      cp_email:$('#cp_email_id').val()+'@'+$('#cp_email_site').val()
    };
    // 필수
    if(param.cp_sname == ""){
      check = requiredMessage("cp_sname","서비스명을 입력해주세요.");
    }
    if(param.cp_open == ""){
      check = requiredMessage("cp_open","오픈일을 선택해주세요.");
    }
    if(param.cp_id == ""){
      check = requiredMessage("cp_id","아이디를 입력해주세요.");
    }
    if(param.cp_id != "" && $("#idCheck").val() == ""){
      check = requiredMessage("cp_id","아이디를 중복확인 해주세요.");
    }
    if(param.cp_pw == ""){
      check = requiredMessage("cp_pw","비밀번로를 입력해주세요.");
    }
    if(param.cp_cname == ""){
      check = requiredMessage("cp_cname","법인명을 입력해주세요.");
    }
    if(param.cp_cnum == ""){
      check = requiredMessage("cp_cnum","사업자번호를 입력해주세요.");
    }
    if(param.cp_tstate == ""){
      check = requiredMessage("cp_tstate","제휴현황을 선택해주세요.");
    }
    if(param.cp_ceoname == ""){
      check = requiredMessage("cp_ceoname","대표자명 입력해주세요.");
    }
    if(param.cp_url == ""){
      check = requiredMessage("cp_url","URL을 입력해주세요.");
    }
    if($('#cp_email_id').val() == "" && $('#cp_email_site').val() == ""){
      check = requiredMessage("cp_email","이메일을 입력해주세요.");
    }
    if(check){
      return false;
    }
    swal({
      title: "등록하시겠습니까?",
      icon: "warning",
      buttons: ["취소", true],
      dangerMode: true
    })
    .then(function(value) {
      if (value != null) {
        insertcp(param);
      }
    });
  });

  // 등록 ajax func
  function insertcp(param){
    // 추가
    if($("#cp_scnum").val() != ""){
      param.cp_scnum = $("#cp_scnum").val();
    }
    if($("#cp_pname").val() != ""){
      param.cp_pname = $("#cp_pname").val();
    }
    if($("#cp_durl").val() != ""){
      param.cp_durl = $("#cp_durl").val();
    }
    if($("#cnt_cpid").val() != ""){
      param.cnt_cpid = $("#cnt_cpid").val();
    }
    if($("#cp_img").val() != ""){
      param.cp_img = $("#cp_img").val();
    }
    if($("#cp_addrs").val() != ""){
      param.cp_addrs = $("#cp_addrs").val();
    }
    if($("#cp_tel").val() != ""){
      param.cp_tel = $("#cp_tel").val().replace(/[-]/gi,'');
    }
    if($("input[type='checkbox']:checked").length > 0){
      if($("input[type='checkbox']:checked").length == 2){
        param.cp_mobile = 2;
      }
      else{
        param.cp_mobile = $("input[type='checkbox']:checked").val();
      }
    }
    if($("input:radio[name='cp_state']:checked").val() != ""){
      param.cp_state = $("input:radio[name='cp_state']:checked").val();
    }

    $.ajax({
      url: '/setting/cp/add',
      type: 'post',
      data : param,
      datatype : 'json',
      error:function(request,status,error){
        errorMsg();
      },
      success:function(data){
        alert(data.msg);
        if(data.state){
          location.reload();
        }
      }
    });
  }

  $("input, select").on("focus",function(){
    $(this).removeClass("form-control-danger");
    $(this).siblings().children("p").text("");
    if($(this).attr('id').indexOf('email') != -1){
      $("#cp_email").siblings().children("p").text("");
    }
  });

  function requiredMessage(target,msg){
    $("#"+target).siblings().children().text(msg);
    if(target != "cp_email"){
      $("#"+target).addClass("form-control-danger");
    }
    else{
      $("#"+target+"_id").addClass("form-control-danger");
      $("#"+target+"_site").addClass("form-control-danger");
    }
    return true;
  }

  // 오픈일
  $('#cp_open').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    locale: {
      format: 'YYYY-MM-DD',
      "customRangeLabel": "Custom",
      "daysOfWeek": [
          "일", "월", "화", "수", "목", "금", "토"
      ],
      "monthNames": [
        "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"
      ],
    }
  });

</script>
