<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>메일링설정</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">관리설정</a></li>
          <li class="breadcrumb-item"><a href="#!">메일링설정</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 p-r-5 f-left" id="selectMCP" style="min-width: 122px;">
            <option value=''>MCP사선택</option>
            <% for(var i=0; i < mcpList.length; i++) {%>
              <option value="<%=mcpList[i].cp_id%>"><%=mcpList[i].cp_cname%></option>
            <% }; %>
          </select>
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 m-l-5 p-r-5 f-left" id="selectCP">
            <option value=''>CP사선택</option>
            <% for(var i=0; i < cpList.length; i++) {%>
              <option value="<%=cpList[i].cp_id%>"><%=cpList[i].cp_cname%></option>
            <% }; %>
          </select>
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 m-l-5 p-r-5 f-left" id="selectMail" style="min-width: 130px;">
            <option value=''>메일발송선택</option>
            <option value="1">발송</option>
            <option value="0">미발송</option>
          </select>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block table-border-style  table-responsive">
              <div class="preloader3 loader-block">
                <div class="circ1 loader-primary"></div>
                <div class="circ2 loader-primary"></div>
                <div class="circ3 loader-primary"></div>
                <div class="circ4 loader-primary"></div>
              </div>
              <table class="table table-bordered" id="listTable">
                <thead>
                  <tr>
                    <th width="1%">NO</th>
                    <th width="5%">사이트</th>
                    <th width="5%">MCP사</th>
                    <th width="5%">CP사</th>
                    <th width="15%">메일발송</th>
                    <th width="1%">수정</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>fileis</td>
                    <td>kbsm</td>
                    <td>kbsm</td>
                    <td>
                      <select name="select" class="form-control" id="selectMailing" style="min-width: 98px;">
                        <option value="1">발송</option>
                        <option value="0">미발송</option>
                      </select>
                    </td>
                    <td class="text-center">
                      <button type="button" data-idx = "" class="btn-update tabledit-edit-button btn btn-primary waves-effect waves-light text-center">
                        <span class="far fa-edit"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot></tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  /* loader */
  .preloader3{
    display: none;
    padding-top:20%;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    width: 1280px;
    z-index: 10000;
  }
</style>
<script>
// mcp선택시
$(document).on('change','#selectMCP',function(){
  $("#selectCP").empty();
  $("#selectCP").append('<option value="">CP사선택</option>');

  var mcpValue = $("#selectMCP option:selected").val();
  var param = {};
  if(mcpValue != ''){
    param.mcp = mcpValue;
  }
  $.ajax({
    url: '/kwd/getCP',
    type: 'post',
    data : param,
    datatype : 'json',
    error:function(request,status,error){
      console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
      alert('cp리스트 불러올 수 없습니다. 다시 시도해주세요.');
    },
    success:function(data){
      if(data.status != true){
        alert('cp리스트 불러올 수 없습니다. 다시 시도해주세요.');
        return false;
      }
      data.result.forEach(function(item,idx){
        var html = '<option value="'+item.cp_id+'">'+item.cp_cname+'</option>';
        $("#selectCP").append(html);
      });
    }
  });

  // param = settingParams(1);
  // ajaxGetPageList(param);
});
</script>
