<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>OSP사등록</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">관리설정</a></li>
          <li class="breadcrumb-item"><a href="#!">OSP사등록</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 서비스명</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_sname" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 오픈일</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_open" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* ID</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_id" type="text">
                  <input type="hidden" id="idCheck"/>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check">
                  <button id="idCheck" type="button" class="btn btn-default alert-prompt">
                    중복체크
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* PW</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_pw" type="password">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 법인명</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_cname" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 사업자번호</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_cnum" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">통신판매</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_mnum" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">부가통신사업자</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_scnum" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 제휴현황</label>
                <div class="col-sm-5 form-radio">
                  <div class="radio radiofill radio-default radio-inline m-t-5">
                    <label class="m-b-0">
                      <input type="radio" value="1" name="osp_tstate" checked>
                      <i class="helper"></i>제휴
                    </label>
                  </div>
                  <div class="radio radiofill radio-default radio-inline">
                    <label class="m-b-0">
                      <input type="radio" value="0" name="osp_tstate">
                      <i class="helper"></i>비제휴
                    </label>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 대표자명</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_ceoname" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">담당자명</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_pname" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* URL</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_url" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">상세페이지 URL</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_durl" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">다운로드이미지</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_img" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">주소</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_addrs" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">연락처(숫자만)</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_tel" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">FAX(숫자만)</label>
                <div class="col-sm-5">
                  <input class="form-control" id="osp_fax" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 이메일</label>
                <div class="col-sm-5">
                  <div id="osp_email">
                    <input class="form-control col-sm-5 f-left" id="osp_email_id" type="text">
                    <span class="f-left m-l-5 m-r-5">@</span>
                    <input class="form-control col-sm-5 f-left" id="osp_email_site" type="text">
                  </div>
                  <span class='messages f-left'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">모바일</label>
                <div class="col-sm-5">
                  <div class="border-checkbox-section m-t-5">
                    <div class="border-checkbox-group border-checkbox-group-default">
                      <input class="border-checkbox mail-checkbox" type="checkbox" id="osp_mobile_0" value="0">
                      <label class="border-checkbox-label m-b-0" for="osp_mobile_0">어플</label>
                    </div>
                    <div class="border-checkbox-group border-checkbox-group-default">
                      <input class="border-checkbox mail-checkbox" type="checkbox" id="osp_mobile_1" value="1">
                      <label class="border-checkbox-label m-b-0" for="osp_mobile_1">웹</label>
                    </div>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">* 상태</label>
                <div class="col-sm-5 form-radio">
                  <div class="radio radiofill radio-default radio-inline m-t-5">
                    <label class="m-b-0">
                      <input type="radio" value="1" name="osp_state" checked>
                      <i class="helper"></i>정상
                    </label>
                  </div>
                  <div class="radio radiofill radio-default radio-inline">
                    <label class="m-b-0">
                      <input type="radio" value="0" name="osp_state">
                      <i class="helper"></i>중지
                    </label>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3"></label>
                <div class="col-sm-5">
                  <button class="btn btn-inverse btn-add m-b-0">등록</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap daterangepicker js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.js"></script>
<!-- alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<!-- custom -->
<link rel="stylesheet" href="/pages/osp/style.css">
<script type="text/javascript" src="/pages/osp/script.js"></script>
