.table td, .table th {
  vertical-align: middle;
}
/* loader */
.preloader3{
  display: none;
  padding-top:20%;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  /* width: 1280px; */
  z-index: 10000;
}
.edit{
  text-decoration:underline;
}
.edit:hover{
  font-weight: bold;
}
/* modal */
#detail-Modal table td,
#detail-Modal table th{
  text-align: left;
}
#detail-Modal p{
  margin-bottom: 0
}
#edit-Modal .radio .helper::after,
#edit-Modal .radio .helper::before{
  margin-top: 0px;
}
