<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>콘텐츠등록</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">콘텐츠관리</a></li>
          <li class="breadcrumb-item"><a href="#!">콘텐츠등록</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 콘텐츠ID</label>
                <div class="col-sm-5">
                  <input name="reporter_media_name" type="text" class="form-control" id="newsNewName1" value="KBS-10-3">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* CP사</label>
                <div class="col-sm-5">
                  <input name="reporter_media_name" type="text" class="form-control" id="newsNewName1" placeholder="거래처">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 제목</label>
                <div class="col-sm-5">
                  <input name="reporter_media_name" type="text" class="form-control" id="newsNewName1" placeholder="대표제목">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* OSP관리ID</label>
                <div class="col-sm-5">
                  <input name="reporter_media_name" type="text" class="form-control" id="newsNewName1" placeholder="OSP관리ID">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 관리방법</label>
                <div class="col-sm-5">
                  <div class="form-radio">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio2">
                        <i class="helper"></i>자동
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio2">
                        <i class="helper"></i>수동
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 관리현황</label>
                <div class="col-sm-5">
                  <div class="form-radio">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio1">
                        <i class="helper"></i>삭제
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio1">
                        <i class="helper"></i>제휴
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio1">
                        <i class="helper"></i>보류
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">HASH 값</label>
                <div class="col-sm-5">
                  <input name="reporter_media_name" type="text" class="form-control" id="newsNewName1" placeholder="거래처">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">기본검색어</label>
                <div class="col-sm-5">
                  <input name="reporter_media_name" type="text" class="form-control" id="newsNewName1" placeholder="대표제목">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <button id="insertBtn" type="submit" class="btn btn-primary m-b-0">등록</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5>일괄등록</h5>
              <span>* 엑셀양식 : CP사 / 제목 / OSP관리ID / 기본검색어 / 관리현황 / HASH값</span>
            </div>
            <div class="card-block">
              <div class="form-group row">
                <div class="col-sm-5">
                  <input name="thumbnail" type="image" class="form-control">
                </div>
                <div class="col-sm-1">
                  <button id="insertBtn" type="submit" class="btn btn-inverse m-b-0">등록</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
