<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>키워드설정</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">콘텐츠관리</a></li>
          <li class="breadcrumb-item"><a href="#!">키워드설정</a></li>
        </ul>
      </div>
      <div class="page-body">
        <div class="row">
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5>키워드등록</h5>
              <span>* 항목은 필수 입력입니다.</span>
              <div class="card-header-right">
                  <i class="icofont icofont-rounded-down"></i>
              </div>
            </div>
            <div class="card-block">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 콘텐츠</label>
                <div class="col-sm-5">
                  <input name="contentsID" type="hidden" class="form-control">
                  <input name="cnt_name" type="text" class="form-control" id="cnt_name" placeholder="콘텐츠명">
                    <span class="messages"><p class="text-danger error"></p></span>
                  <span class="messages"><p class="text-danger error"></p></span>
                </div>
                <div class="col-sm-1 btn-check">
                  <button id="contentsBtn" type="button" class="btn btn-inverse alert-prompt">검색</button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">상태</label>
                <div class="col-sm-5">
                  <div class="form-radio">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio" checked="checked">
                        <i class="helper"></i>ON
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio">
                        <i class="helper"></i>OFF
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">관리방법</label>
                <div class="col-sm-5">
                  <div class="form-radio">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio2">
                        <i class="helper"></i>자동
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio2">
                        <i class="helper"></i>수동
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">관리현황</label>
                <div class="col-sm-5">
                  <div class="form-radio">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio1">
                        <i class="helper"></i>삭제
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio1">
                        <i class="helper"></i>제휴
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio1">
                        <i class="helper"></i>보류
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <label class="col-sm-2"></label>
                  <div class="col-sm-10">
                      <button id="insertBtn" type="submit" class="btn btn-primary m-b-0">수정</button>
                  </div>
                </div>
            </div>
          </div>
          <div class="card" id="keywordList" style="display: none;">
            <div class="card-header">
              <h5>키워드 리스트 - <p id="cnt_title">1박2일(KBS-2312-1231)</p></h5>
            </div>
            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table table-columned table-striped">
                  <thead>
                    <!-- <tr>
                      <th>제목</th>
                      <th colspan="4">1박2일(KBS-2312-1231)</th>
                    </tr> -->
                    <tr>
                      <th></th>
                      <th>검색어</th>
                      <th>제외검색어</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="centerTh">입력</th>
                      <td>
                        <input type="text" class="form-control" id="pSearch">
                        <span class="messages"><p class="text-danger error m-b-0"></p></span>
                      </td>
                      <td>
                        <input type="text" class="form-control" id="dSearch">
                        <span class="messages"><p class="text-danger error m-b-0"></p></span>
                      </td>
                      <td><button class="btn btn-success btn-sm" id="insertKeywordBtn"><i class="icofont icofont-plus" style="margin-right:0"></i></button></td>
                    </tr>
                    <tr>
                      <th scope="row" class="centerTh">1</th>
                      <td>IEM 평창</td>
                      <td></td>
                      <td><button class="remove_keyword btn btn-danger btn-sm"><i class="icofont icofont-garbage" style="margin-right:0"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal start-->
      <div class='modal fade' id='keyword-Modal' role='dialog'>
        <div class='modal-dialog' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">콘텐츠 검색</h5>
            </div>
            <div class='modal-body'>
              <div class='card'>
                <div class="card-block table-border-style">
                  <div class="table-responsive">
                    <table class="table table-columned table-striped">
                      <thead>
                        <tr>
                          <th>
                            <input type="text" class="form-control" id="search_cnt_name" placeholder="콘텐츠명">
                          </th>
                          <th width="1px">
                            <button type="button" id="btn-searchCnt" class="btn btn-inverse alert-prompt">검색</button>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td style="vertical-align: middle;">
                            <div class="contents">KBS: 1박2일(kbs-fileis-1)</div>
                          </td>
                          <td>
                            <button type="submit" class="btn btn-primary m-b-0">선택</button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>

                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
    </div>
  </div>
</div>
<style type="text/css">
.contents{
  font-size: 15px;
  padding-left: 3px;
  text-overflow: ellipsis;
  width: 349px;
  overflow: hidden;
}
</style>
<script type="text/javascript">
  $("#contentsBtn").on("click",function(){
    $("#search_cnt_name").val($("#cnt_name").val());
    $("#keyword-Modal").modal('show');
  });
  $("#btn-searchCnt").on("click",function(){
    searchCnt($("#search_cnt_name").val());
  });
  $(document).on("click",".btn-cnt",function(event){
    var title = $(event.target).parents("tr").find(".contents").text().split(" : ")[1];
    $("#cnt_title").text(title);
    $("#search_cnt_name").val("");
    $("#keyword-Modal tbody").empty();
    $("#keyword-Modal").modal('hide');
  });
  function searchCnt(name){
    $.ajax({
      url: '../contents/searchCnt',
      type: 'post',
      data : {
				'CP_title': $('#search_cnt_name').val()
			},
			datatype : 'json',
      error:function(request,status,error){
        // alert('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        alert(request.responseText);
      },
      success:function(data){
        $("#keyword-Modal tbody").empty();
        data.forEach(function(item){
          var html = '<tr><td style="vertical-align: middle;"><div class="contents">'+item.CP_name+' : '+item.CP_title+'('+item.CP_cntID+')</div></td>\
          <td><button type="submit" class="btn-cnt btn btn-primary m-b-0">선택</button></td></tr>'
          $("#keyword-Modal tbody").append(html);
        });
        console.log(data);
      }
    });
  }
</script>
