<html>

<head>
  <title>autogreen</title>
  <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Phoenixcoded">
  <meta name="keywords" content="flat ui, admin , Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
  <meta name="author" content="Phoenixcoded">
  <!-- Favicon icon -->
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <!-- Required Fremwork -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!-- themify-icons line icon -->
  <link rel="stylesheet" type="text/css" href="/icon/themify-icons/themify-icons.css">
  <!-- ico font -->
  <link rel="stylesheet" type="text/css" href="/icon/icofont/css/icofont.css">
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="/icon/font-awesome/css/font-awesome.css">
  <!-- Style.css -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!--color css-->
  <link rel="stylesheet" type="text/css" href="/css/color/color-1.css" id="color" />
</head>

<body class="fix-menu">
  <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <!-- Authentication card start -->
          <div class="login-card card-block auth-body">
            <form class="md-float-material" action="../login" method="post" id="loginForm">
              <div class="auth-box">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-left txt-primary">로그인</h3>
                  </div>
                </div>
                <hr/>
                <div class="input-group m-b-10">
                  <input name="username" type="text" class="form-control" placeholder="ID">
                </div>
                <div class="input-group">
                  <input name="password" type="password" class="form-control" placeholder="Password">
                </div>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button id='loginBtn' type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">확인</button>
                  </div>
                </div>
              </div>
            </form>
            <!-- end of form -->
          </div>
          <!-- Authentication card end -->
        </div>
        <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
  </section>
  <!-- Required Jquery -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/tether.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- jquery slimscroll js -->
  <script type="text/javascript" src="/js/jquery.slimscroll.js"></script>
  <!-- Bootstrap date-time-picker js -->
  <script type="text/javascript" src="/pages/advance-elements/moment-with-locales.min.js"></script>
  <!-- Date-range picker js -->
  <script type="text/javascript" src="/js/daterangepicker.js"></script>
  <!-- Custom js -->
  <script type="text/javascript" src="/js/script.js"></script>
  <script>
    $("input[type=password]").on('keyup',function(event){
      if(event.keyCode == 13){
        $('#loginForm').submit();
      }
    });
    $("#loginBtn").on('click',function(){
      if($("input[name=username]").val() == ""){
        alert("아이디를 입력해주세요.");
      }
      else if($("input[name=password]").val() == ""){
        alert("비밀번호를 입력해주세요.");
      }
      else{
        $('#loginForm').submit();
      }
    });
  </script>
</body>

</html>
