<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>거래처등록</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">거래처관리</a></li>
          <li class="breadcrumb-item"><a href="#!">거래처등록</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 거래처명</label>
                <div class="col-sm-5">
                  <input name="reporter_media_name" type="text" class="form-control">
                </div>
                <div class="col-sm-1 btn-check">
                  <button id="idCheck" type="button" class="btn btn-inverse alert-prompt">
                    <i class="icofont icofont-user-alt-3"></i>
                    중복체크
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* ID</label>
                <div class="col-sm-5">
                  <input name="reporter_media_name" type="text" class="form-control" id="" placeholder="ID">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* PW</label>
                <div class="col-sm-5">
                  <input name="reporter_media_name" type="password" class="form-control" id="" placeholder="PW">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 분류</label>
                <div class="col-sm-5">
                  <div class="form-radio">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio2">
                        <i class="helper"></i>CP
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio2">
                        <i class="helper"></i>OSP
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 상태</label>
                <div class="col-sm-5">
                  <div class="form-radio">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio1">
                        <i class="helper"></i>ON
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="radio1">
                        <i class="helper"></i>OFF
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <button id="insertBtn" type="submit" class="btn btn-primary m-b-0">등록</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
