<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>거래처리스트</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">거래처관리</a></li>
          <li class="breadcrumb-item"><a href="#!">거래처리스트</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 p-r-5 f-left" id="selectCompany">
            <option>CP사</option>
          </select>
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 p-r-5 f-left select-left" id="selectKeyword">
            <option value="a">전체</option>
            <option value="P">보류</option>
            <option value="T">제휴</option>
            <option value="D">삭제</option>
          </select>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block table-border-style">
              <table class="table table-bordered table-sm">
                <thead>
                  <tr>
                    <th width="1%">NO</th>
                    <th width="5%">거래처명</th>
                    <th width="5%">ID</th>
                    <th width="5%">PW</th>
                    <th width="5%">분류</th>
                    <th width="1%">상태</th>
                    <th width="10%">등록일</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>

                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
