<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>거래처등록</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">거래처관리</a></li>
          <li class="breadcrumb-item"><a href="#!">거래처등록</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 거래처명</label>
                <div class="col-sm-5">
                  <input id="userName" name="userName" type="text" class="form-control" placeholder="거래처명">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* ID</label>
                <div class="col-sm-5">
                  <input id="id" name="id" type="text" class="form-control" id="" placeholder="중복체크를 해주세요." readonly>
                  <input type="hidden" id="idCheck"/>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check">
                  <button id="idCheck" type="button" class="btn btn-inverse alert-prompt">
                    <i class="fas fa-user"></i>
                    중복체크
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* PW</label>
                <div class="col-sm-5">
                  <input id="pw" name="pw" type="password" class="form-control" id="" placeholder="PW">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 분류</label>
                <div class="col-sm-5">
                  <div id="class" class="form-radio">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="c" name="uClass">
                        <i class="helper"></i>CP
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="o" name="uClass">
                        <i class="helper"></i>OSP
                      </label>
                    </div>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 상태</label>
                <div class="col-sm-5">
                  <div id="status" class="form-radio">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="1" name="status">
                        <i class="helper"></i>ON
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="0" name="status">
                        <i class="helper"></i>OFF
                      </label>
                    </div>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary m-b-0">등록</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
.form-radio{
  padding-top: 4px;
}
.alert-prompt{
  line-height: 14px;
  font-size: 14px;
}

@media (min-width:320px) {
  .col-sm-2{
    min-width: 150px;
  }
}

@media (max-width: 412px){
  .btn-check{
    padding-left: 15px;
  }
}
@media (min-width: 1000px){
  .btn-check{
    padding-left: 2px;
  }
}
</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<script type="text/javascript">
// 중복 체크
$(".alert-prompt").on("click",function(){
  swal({
    title: "✓ 아이디 중복 체크",
    content: "input",
    buttons: ["취소", "확인"],
    closeOnClickOutside: false,
    closeOnEsc: false
  })
  .then((value) => {
    console.log(value);
    if (value === "") {
      swal("ERROR!", "아이디를 다시 입력해주세요.", "error");
      return false;
    }
    if (value != null) {
      $.ajax({
        type: "POST",
        url: "./idCheck",
        dataType: "text",
        data: {id : value},
        error: function(req,status,error){
          swal("ERROR!", req.status+"\n"+error, "error");
        },
        success: function(data){
          console.log(data);
          if(data == 'fail'){
            swal("ERROR!", "아이디가 중복됩니다. 다시 입력해 주세요.", "error");
          }else if(data == 'success'){
            swal("중복확인!", value+"는 사용가능한 아이디입니다.", "success");

            $('#id').val(value);
            $("#idCheck").val("true");
            $('#id').removeClass("form-control-danger");
            $('#id').siblings().children("p").text("");
          }
        }
      });
    }
  });
});

// 거래처 등록 필수 입력 체크
$("button[type='submit']").on("click",function(){
  var check=true;
  if($('#userName').val() == ""){
    check = requiredMessage("userName","거래처명을 입력해주세요.");
  }
  if($("#id").val() == ""){
    check = requiredMessage("id","아이디를 입력해주세요.");
  }
  if($("#id").val() != "" && $("#idCheck").val() == ""){
    check = requiredMessage("id","아이디를 중복확인 해주세요.");
  }
  if($("#pw").val() == ""){
    check = requiredMessage("pw","비밀번호를 입력해주세요.");
  }
  if($("input:radio[name=uClass]:checked").val() == undefined){
    check = requiredMessage("class","분류를 선택해주세요.");
  }
  if($("input:radio[name=status]:checked").val() == undefined){
    check = requiredMessage("status","상태를 선택해주세요.");
  }
  if(check){
    var now = new Date();
    var date = now.getFullYear() + '-' + (now.getMonth()+1) + '-' + now.getDate() + ' ' + now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
    $.ajax({
      url: './add',
      type: 'post',
      data : {
        'id': $('input[name=id]').val(),
        'pwd': $('input[name=pw]').val(),
        'calss': $("input:radio[name=uClass]:checked").val(),
        'userName': $('input[name=userName]').val(),
        'status': $("input:radio[name=status]:checked").val(),
        'date': date
      },
      datatype : 'json',
      error:function(request,status,error){
        // alert('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        alert(request.responseText);
      },
      success:function(data){
        alert(data);
        //input 초기화
        $('input').val('');
      }
    });
  }

  return check;
});

$("input, select").on("focus",function(){
  $(this).removeClass("form-control-danger");
  $(this).siblings().children("p").text("");
});

function requiredMessage(target,msg){
  $("#"+target).siblings().children().text(msg);
  $("#"+target).addClass("form-control-danger");
  return false;
}
</script>
