<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>거래처등록</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">거래처관리</a></li>
          <li class="breadcrumb-item"><a href="#!">거래처등록</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 거래처명</label>
                <div class="col-sm-5">
                  <input id="userName" name="userName" type="text" class="form-control" placeholder="거래처명">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* ID</label>
                <div class="col-sm-5">
                  <input id="id" name="id" type="text" class="form-control" id="" placeholder="중복체크를 해주세요." readonly>
                  <input type="hidden" id="idCheck"/>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check">
                  <button id="idCheck" type="button" class="btn btn-inverse alert-prompt">
                    <i class="icofont icofont-user-alt-3"></i>
                    중복체크
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* PW</label>
                <div class="col-sm-5">
                  <input id="pw" name="pw" type="password" class="form-control" id="" placeholder="PW">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 분류</label>
                <div class="col-sm-5">
                  <div id="class" class="form-radio">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="c" name="uClass">
                        <i class="helper"></i>CP
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="o" name="uClass">
                        <i class="helper"></i>OSP
                      </label>
                    </div>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 상태</label>
                <div class="col-sm-5">
                  <div id="status" class="form-radio">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="1" name="status">
                        <i class="helper"></i>ON
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="0" name="status">
                        <i class="helper"></i>OFF
                      </label>
                    </div>
                  </div>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary m-b-0">등록</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="/assets/pages/user/style.css">
<script type="text/javascript" src="/js/sweetalert.min.js"></script>
<script type="text/javascript" src="/assets/pages/user/script.js"></script>
