input:focus,button:focus {
  outline: none;
}
/* header */
.nav-right{
  position: absolute;
  right: 0px;
}
/* breadcrumb */
.breadcrumb-item {
  float: left;
}
/* popover */
.popover-content,.popover-body {
  font-size: 12px;
}
/* modal */
.modal-xxlg {
  max-width: 1292px;
}
.modal-xlg{
  width: 900px;
}
/* cSearch-Modal */
.modal {
  z-index: 1050;
}
#cSearch-Modal i.ti-close{
  color: #8bcfa4;
}
#cSearch-Modal div.title_nobr_cm{
  width: 491px;
  margin: 0px auto;
  white-space: normal;
}
#cSearch-Modal .modal-header{
  background: #24a153;
  padding-bottom: 41px;
  border-radius: 0;
}
#cSearch-Modal .modal-body,
#calculate-Modal .modal-body{
  height: 632px;
  padding: 34px 24px;
}
#calculate-Modal #d-page .modal-body{
  padding-top:0px;
}
#cSearch-Modal #searchSpan,
#calculate-Modal #searchSpan{
  margin: 0px auto;
  padding-top: 16px;
  font-size: 14px;
  color: white;
}
#cSearch-Modal .modal-header,
#calculate-Modal .modal-header{
  font-family: 'NanumGothic';
}
#cSearch-Modal #selectSearchType-cm,
#cSearch-Modal #searchInput-cm,
#cSearch-Modal #searchBtn-cm,
#calculate-Modal #selectSearchType-cm,
#calculate-Modal #searchInput-cm,
#calculate-Modal #searchIDInput-cm,
#calculate-Modal #insertBtn-f{
  margin-left: 5px;
  border-color: #1d8744;
  color: black;
  font-weight: bold;
  height: 50px;
  font-size: 16px;
}
#calculate-Modal #selectSearchType-cm{
  width: 180px;
}
#calculate-Modal #selectSearchType-cm,
#calculate-Modal #searchInput-cm{
  border-color: #2e80c5;
}
#cSearch-Modal .footable-paging,
#calculate-Modal .footable-paging{
 background-color: white;
}
#cSearch-Modal .footable-paging .page-link,
#calculate-Modal .footable-paging .page-link,{
  border-radius: 0;
}
#cSearch-Modal #selectSearchType-cm,
#calculate-Modal #selectSearchType-cm{
  width: 130px;
  float: left;
  padding-left: 10px;
}
#cSearch-Modal #searchInput-cm,
#calculate-Modal #searchInput-cm{
  width: 400px;
}
#calculate-Modal #searchIDInput-cm,
#calculate-Modal #searchInput-cm{
  width: 252px;
}
#cSearch-Modal #searchBtn-cm,
#calculate-Modal #insertBtn-f{
  border-color: #0d3c1f;
  background-color: #13572d;
  color: white;
}
#calculate-Modal #insertBtn-f{
  border-color: #2b6da6;
  background-color: #2e80c5;
}
#cSearch-Modal #searchInput-group,
#calculate-Modal #searchInput-group{
  float: left;
  width: 548px;
}
#calculate-Modal #searchInput-group{
  width: 645px;
}
#cSearch-Modal #searchdiv,
#calculate-Modal #searchdiv{
  padding-top: 11px;
  margin: 0px auto;
  width: 683px;
}
#calculate-Modal #searchdiv{
  padding-top: 22px;
  width: 843px;
}
#cSearch-Modal .btn-excel-cm,
#calculate-Modal .btn-excel-cm{
  border-color: #16763a;
  color: #16763a;
  border-radius: 0px;
  background-color: white;
  padding: 8px 13px;
  height: auto;
  width: auto;
}
#cSearch-Modal #default-card{
  margin: 0px auto;
  margin-top: 207px;
}
#cSearch-Modal #default-card img{
  width: 177px;
  height: 51px;
  margin: 0px auto;
  display: inherit;
  margin-bottom: 14px;
}
#cSearch-Modal #default-card p{
  font-family: 'NanumGothic';
  font-size: 20px;
}
#cSearch-Modal .cm-num{
  font-weight: bold;
}
#cSearch-Modal #cm-num,
#cSearch-Modal #cm-osp-num{
  color: #218c49;
}
.page-header-title{
  height: 36px;
}
/* calculate-Modal */
#calculate-Modal #a-page .radio .helper::after,
#calculate-Modal #a-page .radio .helper::before {
  margin-top: 1px;
}
#calculate-Modal #a-page .text-green,
#calculate-Modal #d-page .text-green{
  color: #23a353;
}
#calculate-Modal #a-page .text-red,
#calculate-Modal #d-page .text-red{
  color: #f80000;
}
#calculate-Modal #a-page #add-card{
  border-top: 2px solid #2c4850;
}
#calculate-Modal #a-page .modal-body{
  padding: 10px 50px;
}
#calculate-Modal #d-page .page-header-title{
  height: 102px;
}
#calculate-Modal #d-page #cm-table-chart .card{
  margin-bottom: 5px;
}
#calculate-Modal #d-page #cm-table-chart .card-type-1{
  border-left: 1px solid #eceeef;
  border-right: 1px solid #eceeef;
  border-bottom: 1px solid #eceeef;
  height: 102px;
  padding: 0;
}
#calculate-Modal #d-page .card-type-1{
  height: auto;
}
#calculate-Modal i.close{
  color: #408ac8;
}
#calculate-Modal #f-page .modal-header{
  background-color: #0259a1;
  padding-bottom: 41px;
  border-radius: 0;
}
#calculate-Modal .btn-setting-cm,
#calculate-Modal .btn-view-cm{
  background: white;
  border-radius: 0px;
  color: #bdc3c7;
}
#calculate-Modal .btn-view-cm{
  background: #bdc3c7;
  color: white;
}
#calculate-Modal .cnt-title-cm{
  width: 500px;
  margin: 0px auto;
  white-space: normal;
  word-break: break-all;
}
#calculate-Modal #f-page .cnt-title-cm:hover {
  text-decoration: underline;
}
#calculate-Modal #d-page .title-div{
  padding-top: 71px;
}
#calculate-Modal #a-page .add-span{
  margin-right: 8px;
  line-height: 31px;
  float: left;
}
#contentsSearch #search-input{
  width: 344px;
}
#contentsSearch #search-btn{
  float: right;
  height: 35px;
}
#contentsSearch #contents-list{
  padding: 0;
}
#contentsSearch #contents-list{
  border-top: 1px solid #dae1e5;
}
/* 달력 */
#calculate-Modal #reportrange-cm,#reportrange{
  width: 197px;
  height: 35px;
  font-size: 12px;
  border-radius: 0;
  padding: 8px;
}
#calculate-Modal #reportrange-cm{
  height: 36px;
  padding: 9px;
}
/* modal */
.modal-open .modal {
  overflow-x: auto;
}
/* login */
.login{
  background-color: #fafafa;
}
.auth-box{
  border-radius: 0px;
  width: 419px;
  height: 411px;
  padding: 60px;
  padding-top: 45px;
}
.auth-box .input-group input{
  max-width: 298px;
  margin: 0px auto;
  border-radius: 0;
  font-size: 11px;
  height: 36px;
  border: 1px solid #e4e6e5;
}
.auth-box .input-group input[name = 'password']{
  margin-top: 16px;
  margin-bottom: 4px;
}
#div-chk{
  text-align: left;
  line-height: 13px;
  margin-bottom: 20px;
}
#login_img{
  width: 298px;
  height: 94px;
}
#loginBtn{
  max-width: 298px;
  margin: 0px auto;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 13px;
  font-family: 'NanumGothic';
  background-color: #23a353;
  color: white;
}
#login-hr{
  margin-bottom: 7px;
  border: 1px solid #959595;
}
#copyright{
  font-family: '굴림';
  font-size: 12px;
  color: #aaaaaa;
}
/* tstate */
.circle{
  border-radius: 19px;
  padding: 3px;
}
.circle-tstate{
  width: 65px;
  border: 1px solid #3581d7;
  color: #3581d7;
  margin: 0px auto;
}
.circle-tstate-an{
  border: 1px solid #e51650;
  color: #e51650;
}
.circle-group{
  display: inline-block;
  height: 26px;
  margin: 0px auto;
}
.circle-platform{
  width: 50px;
  float: left;
  margin-left: 5px;
  border: 1px solid #dddddd;
  background-color: #f2f2f2;
}
/* default setting */
body {
  overflow-x: auto;
  font-size: 12px;
}
#pcoded {
  min-width: 1903px;
  max-width: none !important;
}
nav.navbar.header-navbar.pcoded-header.iscollapsed {
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  height: 56px;
}
.header-navbar .navbar-wrapper .navbar-container .nav-left a, .header-navbar .navbar-wrapper .navbar-container .nav-right a{
  color: #333;
}
.main-body .page-wrapper .page-header-title {
  height: 33px;
}
.main-body .page-wrapper .page-header-title h4{
  color: #000000;
  font-size: 16px;
  font-family: 'NanumGothic';
}
.breadcrumb-title a{
  color: #313131;
}
/* select */
select.form-control{
  border-radius: 0px;
  font-size: 12px;
}
/* card */
.card{
  border-bottom: 0px;
  box-shadow: 0 0 0;
  border-top: 0px;
  margin-bottom: 0px;
}
/* modal */
.modal-xlg {
  max-width: 1050px;
}
.modal-header,.modal-body{
  border: 0;
  padding: 21px;
}
.modal-content{
  border-radius: 0px;
}
.modal-title{
  font-family: 'NanumGothic';
  font-size: 16px;
  line-height: 15px;
  margin: 0px auto;
  padding: 21px;
}
.modal-header .close{
  position: absolute;
  right: 33px;
  top: 25px;
  color: #818181;
  font-size: 21px;
}
/* table */
.page-item:first-child .page-link{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.page-item:last-child .page-link {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.table-border-style .table {
  margin-bottom: 0;
}
.modal .table tfoot td{
  background-color: #ffffff;
}
.table tfoot td{
  background-color: #f7f7f7;
}
.footable-paging .pagination{
  display: flex;
  justify-content: center;
}
.table td a,.table td div{
  font-size: 12px;
}
/* input */
input.search-text{
  border-radius: 0px;
}
.right-icon-control{
  width: 350px;
}
/* i */
.btn i.fa-trash-alt{
  margin-right:0px;
}
.right-icon-control .form-icon{
  top: 10px;
}
/* button */
.pcoded[theme-layout=vertical][vertical-nav-type=collapsed] .pcoded-navbar .pcoded-item>li .btn-s-search{
  width: 90%;
  margin: 2px;
  padding: 0px 14px;
}
.pcoded[theme-layout=vertical] .pcoded-navbar .pcoded-item>li .btn-s-search{
  width: 90%;
  margin: 11px;
}
.pcoded[theme-layout=vertical][vertical-nav-type=collapsed] .pcoded-navbar .pcoded-item>li .btn-s-search span{
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.pcoded[theme-layout=vertical] .pcoded-navbar .pcoded-item>li .btn-s-search span{
  opacity: 1;
  visibility: visible;
}
.btn{
  font-size: 12px;
}
.btn-c-search,.btn-c2-search,.btn-c3-search{
  width: 205px;
  height: 44px;
  background-color: #23a353;
  color: white;
  border-radius: 2px;
  margin: 16px;
}
.btn-c-search:hover,.btn-c2-search:hover,.btn-c3-search:hover {
  color: #ffffff;
}
.btn-c2-search{
  background-color: #2e80c5;
}
.btn-c3-search{
  background-color: black;
}
.btn-search{
  height: 38px;
}
.btn:hover,.btn-warning:hover {
  color: #ffffff;
}
.btn-excel-cm:hover,.btn-excel:hover{
  color: #16763a;
}
/* site logo */
#under_sub_logo{
  background: white;
}
#under_sub_logo  img{
  margin-left: 9px;
}
.main-menu .main-menu-header .user-details{
  margin: 0px auto;
}
.unicc{
  /* display: none; */
  font-family: 굴림;
  color: #677e85;
  font-size: 12px;
  position: fixed;
  border: 0px;
  height: 12px;
  z-index: 1050;
  bottom: 28px;
  left: 43px;
}
.nav-right li img.img-cLogo{
  width: 106px;
  max-height: 19px;
}
/* loader */
.preloader3-cm{
  display: none;
  padding-top:20%;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  /* width: 1280px; */
  z-index: 10000;
}
/* 패딩 */
.p-9{
  padding-right: 9px;
  padding-left: 9px;
}
.p-l-0{
  padding-left: 0px;
}
/* card type */
.card-type-1{
  height: 174px;
  border-top: 2px solid #2c4850;
  padding-left: 26px;
  padding-right: 26px;
}
.card-type-1 .title{
  height: 52px;
  padding-top: 16px;
  font-family: 'NanumGothic';
  font-weight: 500;
  font-size: 13px;
  border-bottom: 1px solid #ededed;
}
.card-type-1 .body{
  text-align: center;
}
.card-type-1 .body .b-item{
  display: inline-block;
  padding-top: 31px;
}
.card-type-1 .body .b-item:last-child{
  border-right: 0px;
}
.card-type-1 .body .p-title{
  font-size: 13px;
  color: #848484;
}
.card-type-1 .body .p-title i.fa-question-circle{
  color: #eb4b79;
  margin-left: 3px;
}
.card-type-1 .body .p-body,
.card-type-1 .body .p-body a{
  font-size: 30px;
  color: #474747;
}
.card-na{
  border-top-color: #dc6565;
}
.card-type-1 p{
  margin: 0px;
}
/* select */
.select-mini{
  min-width: 125px;
  min-height: 32px;
  border-color: #e4e6e5;
  color: #aaaaaa;
}
#selectMCP,#selectCP{
  padding-left: 7px;
}
/* title tag */
.title-div{
  font-family: 'NanumGothic';
  font-weight: normal;
}
.title-div h4{
  font-weight: bold;
  font-size: 16px;
}
.title-div h5{
  font-size: 12px;
  margin-bottom: 12px;
}
/* grid */
.col-xs-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.333333%;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-xs-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.666667%;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-xs-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-xs-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-xs-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-xs-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xs-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-xs-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-xs-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-xs-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-xs-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-xs-12{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,
.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,
.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
  padding-right: 15px;
  padding-left: 15px;
}
.m-l-0{margin-left:0}.m-l-5{margin-left:5px}.m-l-10{margin-left:10px}.m-l-15{margin-left:15px}.m-t-0{margin-top:0}.m-t-5{margin-top:5px}.m-t-10{margin-top:10px}.m-t-15{margin-top:15px}.m-b-0{margin-bottom:0}.m-b-5{margin-bottom:5px}.m-b-10{margin-bottom:10px}.m-b-15{margin-bottom:15px}.m-r-0{margin-right:0}.m-r-5{margin-right:5px}.m-r-10{margin-right:10px}.m-r-15{margin-right:15px}.p-l-0{padding-left:0}.p-l-5{padding-left:5px}.p-l-10{padding-left:10px}.p-l-15{padding-left:15px}.p-t-0{padding-top:0}.p-t-5{padding-top:5px}.p-t-10{padding-top:10px}.p-t-15{padding-top:15px}.p-b-0{padding-bottom:0}.p-b-5{padding-bottom:5px}.p-b-10{padding-bottom:10px}.p-b-15{padding-bottom:15px}.p-r-0{padding-right:0}.p-r-5{padding-right:5px}.p-r-10{padding-right:10px}.p-r-15{padding-right:15px}
